{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-underscore-dangle": "off",
        "import/no-extraneous-dependencies": "off",
        "import/newline-after-import": "off"
    },
    "globals": {
        "__base": true,
        "XMLHttpRequest": true,
        "FormData": true,
        "document": true,
        "window": true
    }
}
