{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-underscore-dangle": "off",
        "import/no-extraneous-dependencies": "off",
        "import/newline-after-import": "off"
    },
    "globals": {
        "before": true,
        "beforeEach": true,
        "after": true,
        "assert": true,
        "describe": true,
        "it": true,
        "__base": true,
        "request": true,
        "XMLHttpRequest": true,
        "document": true,
        "window": true,
        "FormData": true
    }
}
