// MEDIA QUERIES
@small: ~'only screen and (min-width: 920px)';

// UNITS
@baseUnit: 8px;
@smallGap: 16px;
@mediumGap: 24px;
@bigGap: 48px;

@wrapperMaxWidth: 920px;

// COLORS
@white: #FFF;
@grey: #E2E2E2;
@darkBlue: #31549D;
