<!DOCTYPE html>
<html>
<head>
    <title>Alex Kott - {{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <section class="wrapper">
        {{{body}}}
    </section>
    
<script src="/script.js"></script>
</body>
</html>
