<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    {{#each posts as |post|}}
        {{post.title}}<br>
    {{/each}}

<script src="script.js"></script>
</body>
</html>
