<form id="new-post" class="new-post">
    <input type="text" class="input input--full-width" placeholder="<Untitled Post>" />
    <textarea class="textarea textarea--full-width"></textarea>
    <div class="new-post__form-group">
        <input type="date" class="input input--date" />
        <button type="submit" class="button button--submit">Save post</button>
    </div>
</form>
