<form id="new-post" class="new-post" action="../api/posts" method="post">
    <input type="text" name="title" class="input input--full-width" placeholder="<Untitled Post>" />
    <textarea name="content" class="textarea textarea--full-width"></textarea>
    <div class="new-post__form-group">
        <input type="date" name="date" class="input input--date" />
        <button type="submit" class="button button--submit">Save post</button>
    </div>
</form>
